{% load static %}

<!DOCTYPE html>
<html lang="en">

  {% include 'candy/partials/head.html' %}


<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html"><span>Candy's<br></span>Kitchen</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="{% static 'candy/img/logo.png' %} " alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="{% url 'homepage' %}" class="active">Home</a></li>

          <li class="dropdown"><a href="{% url 'about_us' %}"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'about_us' %}">About Us</a></li>
              <li><a href="{% url 'teams' %}">Team</a></li>
              <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
              <li class="dropdown"><a href="{% url 'homepage' %}"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="{% url 'about_us' %}">Deep Drop Down 1</a></li>
                  <li><a href="{% url 'about_us' %}">Deep Drop Down 2</a></li>
                  <li><a href="{% url 'about_us' %}">Deep Drop Down 3</a></li>
                  <li><a href="{% url 'about_us' %}">Deep Drop Down 4</a></li>
                  <li><a href="{% url 'about_us' %}">Deep Drop Down 5</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li><a href="{% url 'service' %}">Services</a></li>
          <li><a href="{% url 'portfolios' %}">Portfolio</a></li>
          <li><a href="{% url 'price' %}">Pricing</a></li>
          <li><a href="{% url 'blogs' %}">Blog</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex">
        <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bu bi-linkedin"></i></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Blog</h2>
          <ol>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li>Blog</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry">

              <div class="entry-img">
                <img src="{% static 'candy/img/blog/images1.jpeg' %} " alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html"></a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John </a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2022-10-19">Jan 1, 2020</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">1500 Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                 Food is one of the best food life has given us. 
                </p>
                <div class="read-more">
                  <a href="{% url 'homepage' %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->

            <article class="entry">

              <div class="entry-img">
                <img src="{% static 'candy/img/blog/images2.jpeg' %} " alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">Sea foods has the best and the most nutrient in the world.</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">James </a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2022-10-20">Jan 1, 2020</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">5000 Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                 Food saves Lifestyle.
                </p>
                <div class="read-more">
                  <a href="{% url 'homepage' %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->

            <article class="entry">

              <div class="entry-img">
                <img src="{% static 'candy/img/blog/images3.jpeg' %} " alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">Eat good food.</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">Zack</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2022-10-20">Jan 1, 2020</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">7000 Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  I enjoy eating good and quality food
                </p>
                <div class="read-more">
                  <a href="{% url 'homepage' %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->

            <article class="entry">

              <div class="entry-img">
                <img src="{% static 'candy/img/blog/images4.jpeg' %} " alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">Does eating good food reduces stress.</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">Can4_dyJay</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2022-10-21">Jan 1, 2020</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">90000 Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  I love eating good food
                </p>
                <div class="read-more">
                  <a href="{% url 'homepage' %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->

            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>

          </div><!-- End blog entries list -->

         
      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  {% include 'candy/partials/footer.html' %}


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% include 'candy/partials/script.html' %}


</body>

</html>