{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'candy/partials/head.html' %}

  <title>Contact</title>
 
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html"><span><span>Candy's<br></span>Kitchen</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="{% static 'candy/img/logo.png' %}" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="{% url 'homepage' %}" class="active">Home</a></li>

          <li class="dropdown"><a href="{% url 'about_us' %}"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'about_us' %}">About Us</a></li>
              <li><a href="{% url 'teams' %}">Team</a></li>
              <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
              <li class="dropdown"><a href="{% url 'homepage' %}"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="{% url 'about_us' %}">Deep Drop Down 1</a></li>
                  <li><a href="{% url 'about_us' %}">Deep Drop Down 2</a></li>
                  <li><a href="{% url 'about_us' %}">Deep Drop Down 3</a></li>
                  <li><a href="{% url 'about_us' %}">Deep Drop Down 4</a></li>
                  <li><a href="{% url 'about_us' %}">Deep Drop Down 5</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li><a href="{% url 'service' %}">Services</a></li>
          <li><a href="{% url 'portfolios' %}">Portfolio</a></li>
          <li><a href="{% url 'price' %}">Pricing</a></li>
          <li><a href="{% url 'blogs' %}">Blog</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>


        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex">
        <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bu bi-linkedin"></i></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Contact</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <div class="map-section">
      <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
    </div>

    <section id="contact" class="contact">
      <div class="container">

        <div class="row justify-content-center" data-aos="fade-up">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>34 Inufele Musendiku Avenue<br>Lagos State<br>Nigeria</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>candyjay1000@gmail.com<br>davidgee200022@gmail.com.com</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+234 8120451463<br>+234 7063632783</p>
                </div>
              </div>
            </div>
            <br>
            <br>
                 
            <div class="col-lg-8 mt-5 mt-lg-0">

              {% for message in messages %}
              <h5>{{message}}</h5>
              {% endfor %}
              <form action="" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {% comment %} {{ form.as_p }}          
                        <input class="getstarted" type="submit" value="send message" onclick="return confirm('Are you sure?')"> {% endcomment %}
                        <div class="row">
                          <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                          </div>
                          <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                          </div>
                        </div>
                        <div class="form-group mt-3">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                          <div class="loading">Loading</div>
                          <div class="error-message"></div>
                          <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
  
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% include 'candy/partials/footer.html' %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% include 'candy/partials/script.html' %}

</body>

</html>